html, body {
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	min-width: 100%;
  	max-width: 100%;
  	height: auto;
  	font-family: georgia;
  	font-size: 12pt;
  	color: black;
}

#graph_container {
	overflow: hidden;
	float: left;
	width: 70%;
	height: 100vh;
}

#side_bar {
	float: right;
	width: 30%;
	height: 100vh;
	background-color: #DDEEFF;
}

#side_bar .title {
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 24px;
	color: #4466CC;
}

#side_bar .title a {
	color: #4466CC;
}

#side_bar .desc {
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #6688CC;
}

#side_bar #holder {
	width: 200px;
	height: 100px;
	border: 3px solid #AAA;
	border-style: dashed;
}

#side_bar #holder:hover {
	border: 3px solid #888;
	border-style: dashed;	
}

#side_bar #panel input, #side_bar #panel select {
	float: right;
}
